.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background:linear-gradient(
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)
    ),
    url("https://thumbs.dreamstime.com/b/back-to-school-background-books-pencils-books-apple-over-chalkboard-76151849.jpg");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm >label {
  margin: 10px 0;
}

.loginForm >input{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    height: 25px;
}
.loginRegisterButton{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}

